
Proiect Backend/.vs/Proiect Backend/DesignTimeBuild/.dtbcache.v2
Examen backend/.vs/Examen backend/v17/.suo
Proiect Backend/.vs/Proiect Backend/DesignTimeBuild/.dtbcache.v2
Examen backend/.vs/Examen backend/v17/.suo
Proiect Backend/.vs/Proiect Backend/DesignTimeBuild/.dtbcache.v2
Proiect Backend/.vs/Proiect Backend/DesignTimeBuild/.dtbcache.v2
Examen backend/.vs/Examen backend/v17/.suo
Examen backend/.vs/Examen backend/v17/.suo
Examen backend/.vs/Examen backend/v17/.suo
*.v2
Examen backend/.vs/Examen backend/v17/.suo
Proiect Backend/obj/Debug/net8.0/Proiect Backend.AssemblyInfo.cs
